<?xml version="1.0"?>

<settings>
	<project_title value="The Core Visualizer"/>
	<data_recorder_out_file_loc 
		value="./sample_data/data_recorder_out.txt"/>
	<processor_coordinate_file_loc 
		value="./settings/processor_coordinate.csv"/>
	<graphs>
		<graph>
			<id>1</id>
			<x_lable></x_lable>
			<y_lable></y_lable>
			<scale_factor></scale_factor>
		</graph>
		
	</graphs>
</settings>